html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.app {
    height:100%;
    background-color:yellow;
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.selector {
    height: 22%;
}

#personal {
    background-color:green;
}

#public {
    background-color:orange;
}

#private {
    background-color:red;
}

#startstop {
    background-color:blue;
}

#stats {
    background-color:grey;
    height: 12%;
}