html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.app {
    height:100%;
    background-color:yellow;
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.wrapped_content {
    display: table-cell;
    vertical-align: middle;
    text-align:center
    }
    
.wrapper{
    width: 100%;
    height: 100%;
    display: table;
}

.wrapped_content img {
    max-width: 40%;
    max-height: 100%;
    width: auto;
    height: 50%;
}

h3{
    font-size:1.4em;
}

#tabs {
    background-color: lime;
    height:10%;
}

.tab {
    height:100%;
    width: 50%;
    float: left;
}

#day-tab {
    background-color:mediumpurple;
}

#month-tab {
    background-color:darkkhaki;
}

.deselected{
    background-color: dimgrey !important;
}

.content {
    height:78%;
}

#day-content {
    background-color:gainsboro;
}

#scroll{
    clear:right;
    float:left;
    display:inline-block;
    overflow:auto;
    height:100%;
    width:60%
}

#scroll ul {
    white-space:nowrap;
    list-style:none;
    display:block;
    height:100%;
    padding:0px;
    margin-top:-1%;
}

#scroll ul li {
    display:-moz-inline-box;
    display: inline-block;
    height:100%;
}

#scroll ul li img{
    /*max-height: 20%;
    max-width:40%;*/
    height: 100%;
    width: auto;
}

#month-content {
    background-color:gainsboro;
}

#home {
    background-color:blueviolet;
    height: 12%;
}